{% load static %}
<!doctype html>
<html lang="en">

<!-- Head -->
<head>
    <!-- Page Meta Tags-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Custom Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@300;400;700&display=auto"
          rel="stylesheet">

    <!-- Favicon -->
    <link href="{% static 'assets/images/favicon/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'assets/images/favicon/favicon-32x32.png' %}" rel="icon" type="image/png">
    <link href="{% static 'assets/images/favicon/favicon-16x16.png' %}" rel="icon" type="image/png">
    <link href="{% static 'assets/images/favicon/safari-pinned-tab.svg' %}" rel="mask-icon" color="#5bbad5">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor CSS -->
    <!--    <link rel="stylesheet" href="./assets/css/libs.bundle.css"/>-->
    <link href="{% static 'assets/css/libs.bundle.css' %}" rel="stylesheet" type="text/css">
    <!-- Main CSS -->
    <!--    <link rel="stylesheet" href="./assets/css/theme.bundle.css"/>-->
    <link href="{% static 'assets/css/theme.bundle.css' %}" rel="stylesheet" type="text/css">
    <!-- Fix for custom scrollbar if JS is disabled-->
    <noscript>
        <style>
      /**
          * Reinstate scrolling for non-JS clients
          */
      .simplebar-content-wrapper {
        overflow: auto;
      }





        </style>
    </noscript>

    <!-- Page Title -->
    <title>Django ecom</title>

</head>
<body class=" bg-light">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white flex-column border-0  ">
    <div class="container-fluid">
        <div class="w-100">
            <div class="d-flex justify-content-between align-items-center flex-wrap">

                <!-- Logo-->
                <a class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0 order-0" href="{% url 'home:index' %}">
                    <div class="d-flex align-items-center">
                        <svg class="f-w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.53 72.26">
                            <path d="M10.43,54.2h0L0,36.13,10.43,18.06,20.86,0H41.72L10.43,54.2Zm67.1-7.83L73,54.2,68.49,62,45,48.47,31.29,72.26H20.86l-5.22-9L52.15,0H62.58l5.21,9L54.06,32.82,77.53,46.37Z"
                                  fill="currentColor" fill-rule="evenodd"/>
                        </svg>
                    </div>
                </a>
                <!-- / Logo-->

                <!-- Navbar Icons-->
                <ul class="list-unstyled mb-0 d-flex align-items-center order-1 order-lg-2 nav-sidelinks">

                    <!-- Mobile Nav Toggler-->
                    <li class="d-lg-none">
                            <span class="nav-link text-body d-flex align-items-center cursor-pointer"
                                  data-bs-toggle="collapse"
                                  data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                                  aria-expanded="false"
                                  aria-label="Toggle navigation"><i class="ri-menu-line ri-lg me-1"></i> Menu</span>
                    </li>
                    <!-- /Mobile Nav Toggler-->

                    <!-- Navbar Search-->
                    <li class="d-none d-sm-block">
                        <span class="nav-link text-body search-trigger cursor-pointer">Search</span>

                        <!-- Search navbar overlay-->
                        <div class="navbar-search d-none">
                            <div class="input-group mb-3 h-100">
                                    <span class="input-group-text px-4 bg-transparent border-0"><i
                                            class="ri-search-line ri-lg"></i></span>
                                <input type="text" class="form-control text-body bg-transparent border-0"
                                       placeholder="Enter your search terms...">
                                <span
                                        class="input-group-text px-4 cursor-pointer disable-child-pointer close-search bg-transparent border-0"><i
                                        class="ri-close-circle-line ri-lg"></i></span>
                            </div>
                        </div>
                        <div class="search-overlay"></div>
                        <!-- / Search navbar overlay-->

                    </li>
                    <!-- /Navbar Search-->

                    <!-- Navbar Login-->
                    <li class="ms-1 d-none d-lg-inline-block">
                        <a class="nav-link text-body" href="{% url 'accounts:login' %}">
                            Account
                        </a>
                    </li>
                    <!-- /Navbar Login-->

                    <!-- Navbar Cart Icon-->
                    <li class="ms-1 d-inline-block position-relative dropdown-cart">
                        <button class="nav-link me-0 disable-child-pointer border-0 p-0 bg-transparent text-body"
                                type="button">
                            Cart (2)
                        </button>
                        <div class="cart-dropdown dropdown-menu">

                            <!-- Cart Header-->
                            <div class="d-flex justify-content-between align-items-center border-bottom pt-3 pb-4">
                                <h6 class="fw-bolder m-0">Cart Summary (2 items)</h6>
                                <i class="ri-close-circle-line text-muted ri-lg cursor-pointer btn-close-cart"></i>
                            </div>
                            <!-- / Cart Header-->

                            <!-- Cart Items-->
                            <div>

                                <!-- Cart Product-->
                                <div class="row mx-0 py-4 g-0 border-bottom">
                                    <div class="col-2 position-relative">
                                        <picture class="d-block ">
                                            <img class="img-fluid"
                                                 src="{% static 'assets/images/products/product-cart-1.jpg' %}"
                                                 alt="HTML Bootstrap Template by Pixel Rocket">
                                        </picture>
                                    </div>
                                    <div class="col-9 offset-1">
                                        <div>
                                            <h6 class="justify-content-between d-flex align-items-start mb-2">
                                                Nike Air VaporMax 2021
                                                <i class="ri-close-line ms-3"></i>
                                            </h6>
                                            <span class="d-block text-muted fw-bolder text-uppercase fs-9">Size: 9 / Qty: 1</span>
                                        </div>
                                        <p class="fw-bolder text-end text-muted m-0">$85.00</p>
                                    </div>
                                </div>
                                <!-- Cart Product-->
                                <div class="row mx-0 py-4 g-0 border-bottom">
                                    <div class="col-2 position-relative">
                                        <picture class="d-block ">
                                            <img class="img-fluid"
                                                 src="{% static 'assets/images/products/product-cart-2.jpg' %}"
                                                 alt="HTML Bootstrap Template by Pixel Rocket">
                                        </picture>
                                    </div>
                                    <div class="col-9 offset-1">
                                        <div>
                                            <h6 class="justify-content-between d-flex align-items-start mb-2">
                                                Nike ZoomX Vaporfly
                                                <i class="ri-close-line ms-3"></i>
                                            </h6>
                                            <span class="d-block text-muted fw-bolder text-uppercase fs-9">Size: 11 / Qty: 1</span>
                                        </div>
                                        <p class="fw-bolder text-end text-muted m-0">$125.00</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /Cart Items-->

                            <!-- Cart Summary-->
                            <div>
                                <div class="pt-3">
                                    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-start mb-4 mb-md-2">
                                        <div>
                                            <p class="m-0 fw-bold fs-5">Grand Total</p>
                                            <span class="text-muted small">Inc $45.89 sales tax</span>
                                        </div>
                                        <p class="m-0 fs-5 fw-bold">$422.99</p>
                                    </div>
                                </div>
                                <a href="{% url 'cart:index' %}" class="btn btn-outline-dark w-100 text-center mt-4"
                                   role="button">View
                                    Cart</a>
                                <a href="{% url 'cart:index' %}" class="btn btn-dark w-100 text-center mt-2"
                                   role="button">Proceed
                                    To Checkout</a>
                            </div>
                            <!-- / Cart Summary-->
                        </div>


                    </li>
                    <!-- /Navbar Cart Icon-->

                </ul>
                <!-- Navbar Icons-->

                <!-- Main Navigation-->
                <div class="flex-shrink-0 collapse navbar-collapse navbar-collapse-light w-auto flex-grow-1 order-2 order-lg-1"
                     id="navbarNavDropdown">

                    <!-- Menu-->
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown dropdown position-static">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Men
                            </a>
                            <!-- Menswear dropdown menu-->
                            <div class="dropdown-menu dropdown-megamenu">
                                <div class="container-fluid">
                                    <div class="row g-0 g-lg-3">
                                        <!-- Menswear Dropdown Menu Links Section-->
                                        <div class="col col-lg-8 py-lg-5">
                                            <div class="row py-3 py-lg-0 flex-wrap gx-4 gy-6">
                                                <!-- menu row-->
                                                <div class="col">
                                                    <h6 class="dropdown-heading">Coats & Jackets</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Waterproof
                                                            Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Insulated
                                                            Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Down
                                                            Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Softshell
                                                            Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Casual
                                                            Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Windproof
                                                            Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Breathable
                                                            Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Cleaning
                                                            & Proofing</a></li>
                                                        <li class="dropdown-list-item"><a
                                                                class="dropdown-item dropdown-link-all"
                                                                href="{% url 'category:index' %}">View All</a></li>
                                                    </ul>
                                                </div>
                                                <!-- / menu row-->

                                                <!-- menu row-->
                                                <div class="col">
                                                    <h6 class="dropdown-heading">Insulated</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Insulated
                                                            Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Bodywarmers</a>
                                                        </li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Parkas</a>
                                                        </li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Baselayers
                                                            & Thermals</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Winter
                                                            Hats</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Scarves
                                                            & Neck</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Gloves
                                                            & Mitts</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Accessories</a>
                                                        </li>
                                                        <li class="dropdown-list-item"><a
                                                                class="dropdown-item dropdown-link-all"
                                                                href="{% url 'category:index' %}">View All</a></li>
                                                    </ul>
                                                </div>
                                                <!-- / menu row-->

                                                <!-- menu row-->
                                                <div class="d-none d-xxl-block col">
                                                    <h6 class="dropdown-heading">Footwear</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Lifestyle
                                                            & Casual</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Walking
                                                            Shoes</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Running
                                                            Shoes</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Military
                                                            Boots</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Fabric
                                                            Walking Boots</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Leather
                                                            Walking Boots</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Wellies</a>
                                                        </li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item"
                                                                                          href="{% url 'category:index' %}">Winter
                                                            Footwear</a></li>
                                                        <li class="dropdown-list-item"><a
                                                                class="dropdown-item dropdown-link-all"
                                                                href="{% url 'category:index' %}">View All</a></li>
                                                    </ul>
                                                </div>
                                                <!-- / menu row-->

                                                <!-- menu row-->
                                                <div class="col">
                                                    <h6 class="dropdown-heading text-danger">Special Offers</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="dropdown-list-item"><a
                                                                class="dropdown-item text-danger"
                                                                href="{% url 'category:index' %}">Insulated Jackets</a>
                                                        </li>
                                                        <li class="dropdown-list-item"><a
                                                                class="dropdown-item text-danger"
                                                                href="{% url 'category:index' %}">Bodywarmers</a></li>
                                                        <li class="dropdown-list-item"><a
                                                                class="dropdown-item text-danger"
                                                                href="{% url 'category:index' %}">Parkas</a></li>
                                                        <li class="dropdown-list-item"><a
                                                                class="dropdown-item text-danger"
                                                                href="{% url 'category:index' %}">Baselayers &
                                                            Thermals</a></li>
                                                        <li class="dropdown-list-item"><a
                                                                class="dropdown-item text-danger"
                                                                href="{% url 'category:index' %}">Winter Hats</a></li>
                                                        <li class="dropdown-list-item"><a
                                                                class="dropdown-item text-danger"
                                                                href="{% url 'category:index' %}">Scarves & Neck</a>
                                                        </li>
                                                        <li class="dropdown-list-item"><a
                                                                class="dropdown-item text-danger"
                                                                href="{% url 'category:index' %}">Gloves & Mitts</a>
                                                        </li>
                                                        <li class="dropdown-list-item"><a
                                                                class="dropdown-item text-danger"
                                                                href="{% url 'category:index' %}">Accessories</a></li>
                                                        <li class="dropdown-list-item"><a
                                                                class="dropdown-item text-danger dropdown-link-all"
                                                                href="{% url 'category:index' %}">View All</a></li>
                                                    </ul>
                                                </div>
                                                <!-- / menu row-->
                                            </div>

                                            <div class="align-items-center justify-content-between mt-5 d-none d-lg-flex">
                                                <div class="me-5 f-w-20">
                                                    <a class="d-block" href="{% url 'category:index' %}">
                                                        <picture>
                                                            <img class="img-fluid d-table mx-auto"
                                                                 src="{% static 'assets/images/logos/logo-1.svg' %}"
                                                                 alt="">
                                                        </picture>
                                                    </a>
                                                </div>
                                                <div class="me-5 f-w-20">
                                                    <a class="d-block" href="{% url 'category:index' %}">
                                                        <picture>
                                                            <img class="img-fluid d-table mx-auto"
                                                                 src="{% static 'assets/images/logos/logo-2.svg' %}"
                                                                 alt="">
                                                        </picture>
                                                    </a>
                                                </div>
                                                <div class="me-5 f-w-20">
                                                    <a class="d-block" href="{% url 'category:index' %}">
                                                        <picture>
                                                            <img class="img-fluid d-table mx-auto"
                                                                 src="{% static 'assets/images/logos/logo-3.svg' %}"
                                                                 alt="">
                                                        </picture>
                                                    </a>
                                                </div>
                                                <div class="me-5 f-w-20">
                                                    <a class="d-block" href="{% url 'category:index' %}">
                                                        <picture>
                                                            <img class="img-fluid d-table mx-auto"
                                                                 src="{% static 'assets/images/logos/logo-4.svg' %}"
                                                                 alt="">
                                                        </picture>
                                                    </a>
                                                </div>
                                                <div class="me-5 f-w-20">
                                                    <a class="d-block" href="{% url 'category:index' %}">
                                                        <picture>
                                                            <img class="img-fluid d-table mx-auto"
                                                                 src="{% static 'assets/images/logos/logo-5.svg' %}"
                                                                 alt="">
                                                        </picture>
                                                    </a>
                                                </div>
                                                <div class="me-5 f-w-20">
                                                    <a class="d-block" href="{% url 'category:index' %}">
                                                        <picture>
                                                            <img class="img-fluid d-table mx-auto"
                                                                 src="{% static 'assets/images/logos/logo-6.svg' %}"
                                                                 alt="">
                                                        </picture>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Menswear Dropdown Menu Links Section-->

                                        <!-- Menswear Dropdown Menu Images Section-->
                                        <div class="col-lg-4 d-none d-lg-block">
                                            <div class="vw-50 border-start h-100 position-absolute"></div>
                                            <div class="py-lg-5 position-relative z-index-10 px-lg-4">
                                                <div class="row g-4">
                                                    <div class="col-12 col-md-6">
                                                        <div class="card justify-content-center d-flex align-items-center bg-transparent">
                                                            <picture class="w-100 d-block mb-2 mx-auto">
                                                                <img class="w-100 rounded" title=""
                                                                     src="{% static 'assets/images/banners/banner-12.jpg' %}"
                                                                     alt="HTML Bootstrap Template by Pixel Rocket">
                                                            </picture>
                                                            <a class="fw-bolder link-cover"
                                                               href="{% url 'category:index' %}">Latest
                                                                Arrivals</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="card justify-content-center d-flex align-items-center bg-transparent">
                                                            <picture class="w-100 d-block mb-2 mx-auto">
                                                                <img class="w-100 rounded" title=""
                                                                     src="{% static 'assets/images/banners/banner-13.jpg' %}"
                                                                     alt="HTML Bootstrap Template by Pixel Rocket">
                                                            </picture>
                                                            <a class="fw-bolder link-cover"
                                                               href="{% url 'category:index' %}">Accessories</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="card justify-content-center d-flex align-items-center bg-transparent">
                                                            <picture class="w-100 d-block mb-2 mx-auto">
                                                                <img class="w-100 rounded" title=""
                                                                     src="{% static 'assets/images/banners/banner-14.jpg' %}"
                                                                     alt="HTML Bootstrap Template by Pixel Rocket">
                                                            </picture>
                                                            <a class="fw-bolder link-cover"
                                                               href="{% url 'category:index' %}">T-Shirts</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="card justify-content-center d-flex align-items-center bg-transparent">
                                                            <picture class="w-100 d-block mb-2 mx-auto">
                                                                <img class="w-100 rounded" title=""
                                                                     src="{% static 'assets/images/banners/banner-15.jpg' %}"
                                                                     alt="HTML Bootstrap Template by Pixel Rocket">
                                                            </picture>
                                                            <a class="fw-bolder link-cover"
                                                               href="{% url 'category:index' %}">Jackets</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="{% url 'category:index' %}"
                                                   class="btn btn-link p-0 fw-bolder text-link-border mt-5 text-dark mx-auto d-table">Visit
                                                    Mens Section</a>
                                            </div>
                                        </div>
                                        <!-- Menswear Dropdown Menu Images Section-->
                                    </div>
                                </div>
                            </div>
                            <!-- / Menswear dropdown menu-->
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Women
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'category:index' %}">Tops</a></li>
                                <li><a class="dropdown-item" href="{% url 'category:index' %}">Bottoms</a></li>
                                <li><a class="dropdown-item" href="{% url 'category:index' %}">Jeans</a></li>
                                <li><a class="dropdown-item" href="{% url 'category:index' %}">T-Shirts</a></li>
                                <li><a class="dropdown-item" href="{% url 'category:index' %}">Shoes</a></li>
                                <li><a class="dropdown-item" href="{% url 'category:index' %}">Accessories</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'category:index' %}" role="button">
                                Kids
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'category:index' %}" role="button">
                                Sale
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Pages
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'home:index' %}">Homepage</a></li>
                                <li><a class="dropdown-item" href="{% url 'category:index' %}">Category</a></li>
                                <li><a class="dropdown-item" href="{% url 'product:index' %}">Product</a></li>
                                <li><a class="dropdown-item" href="{% url 'cart:index' %}">Cart</a></li>
                                <li><a class="dropdown-item" href="{% url 'cart:index' %}">Checkout</a></li>
                                <li><a class="dropdown-item" href="{% url 'accounts:login' %}">Login</a></li>
                                <li><a class="dropdown-item" href="{% url 'accounts:register' %}">Register</a></li>
                                <li><a class="dropdown-item" href="{% url 'accounts:forgot_password' %}">Forgotten
                                    Password</a>
                                </li>
                            </ul>
                        </li>
                    </ul>                    <!-- / Menu-->

                </div>
                <!-- / Main Navigation-->

            </div>
        </div>
    </div>
</nav>
{% for message in messages %}

<div class="alert alert-success">
    <a class="close" href="#" data-dismiss="alert">×</a>
    {{ message }}
</div>

{% endfor %}
<!-- / Navbar-->    <!-- / Navbar-->
<!--main block start-->
{% block content %}{% endblock %}

<!-- Theme JS -->
<script src="{% static 'assets/js/theme.bundle.js' %}"></script>
<!-- Vendor JS -->
<script src="{% static 'assets/js/vendor.bundle.js' %}"></script>
</body>

</html>